<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api PubliGrafit</title>
    <style>
    .Texto1{
        text-align: center;
        margin-top: 5%;
        margin-left:25%;
        border: 1px solid black;
        width: 50%;
        border-radius: 15px;
        background: rgb(231, 231, 231);
    }
    </style>
</head>
<body>
    <div class="Texto1">
    <h1>Bienvenidos a la API de PubliGrafit</h1>
    <p>Para el uso de la Api puedes usar el plugin de Thunder para un mejor manejo del CRUD</p>
</div>
</body>
</html>