<nav class="navbar navbar-dark bg-primary">

  <div class="container-fluid">
    <a class="navbar-brand" href="/">PubliGrafit</a>
   
             
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    
      <span class="navbar-toggler-icon"></span>
    </button>
        
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/usuarios">Usuarios</a>
        <a class="nav-link" href="/rol">Roles</a>
        <a class="nav-link" href="/insumo">Insumos</a>
        <a class="nav-link" href="/ficha">Ficha</a>
      
       
      </div>
    </div>
  </div>
</nav>