{{>head title='Roles'}}
{{>nav}}
    <div style="width: 60%; height:600px; margin-left:15%; overflow-y:scroll; overflow-x:hidden;">
        <table class="table table-striped">
            <tr>
                <th scope="col">Id</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>descripcion</th>
            
            </tr>
            <tbody>
           
                
                {{#each title}}
                    <tr>
                        <td scope="row">{{_id}}</td>
                        <td>{{nameRol}}</td>
                        <td>{{fecha}}</td>
                        <td>{{descripcion}}</td>
                       
                    </tr>
                     
                {{/each}}
            
            </tbody>
        </table>
        </div>


{{>footer}}