{{>head title='Roles'}}
{{>nav}}
    <div style="width: 60%; height:600px; margin-left:15%; overflow-y:scroll; overflow-x:hidden;">
        <table class="table table-striped">
            <tr>
                <th scope="col">Id</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>descripcion</th>
            
            </tr>
            <tbody>
           
                
               
                    <tr>
                        <td scope="row">{{title._id}}</td>
                        <td>{{title.nameRol}}</td>
                        <td>{{title.fecha}}</td>
                        <td>{{title.descripcion}}</td>
                       
                    </tr>
                     
                
            
            </tbody>
        </table>
        </div>


{{>footer}}