 {{>head title='Rol'}}
 {{>nav}}


<br>
 <div style="width: 30%; margin:auto;">
    <h1>Registrar Rol</h1><br>
    <form action="/rol/create/in" method="post">
        <input type="text" name="nombre" class="form-control"  placeholder="Nombre...">
        <br>
        <input type="date" name="fecha" class="form-control"  placeholder="Fecha...">
<br>
        <input type="text" name="descripcion" class="form-control"  placeholder="Descripcion...">
<br>
    
<br>
      
        <button class="btn btn-primary" >Registrar</button>

    </form>
        
        </div>

        {{>footer}}